.container
  .row
    .col-sm-offset-2
      %section.widget
        %legend.section
          %h3 Additional Info
        = simple_form_for :additional_info do |f|
          = f.input :pbso_case_num
          = f.input :unit,:collection => TrifoldEnums::Unit.unit_codes,:label => "Unit" ,:include_blank => true, :class =>"form-control input-transparent"

