<!DOCTYPE html>
<html>
<head>
  <title>Rule 2 Login</title>
  <link href="css/application.css" rel="stylesheet">
  <link rel="shortcut icon" href="images/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta charset="utf-8">
  <script src="javascripts/jquery-2.0.3.min.js"></script>
  <script src="javascripts/underscore-min.js"></script>
  <script src="javascripts/settings.js"></script>
</head>
<body>


<div class="text-align-center">

  <%= image_tag "pbso90pc.png" %>
  <div class="loginPadding"><p> </p></div>
</div>

<div class="single-widget-container no-margin">


  <section class="widget login-widget">

    <header class="text-align-center">
      <h2 class="page-title">Rule 2</h2>

    </header>
    <div class="body">
      <form class="no-margin" action="index.html" method="get">

        <fieldset>
          <div class="form-group">

            <input id="login" type="email" id="transparent-field" class="form-control input-lg input-transparent" placeholder="Login">
          </div>


          <div class="form-group">

            <input id="password" type="password" id="transparent-field" class="form-control input-lg input-transparent" placeholder="Password">
          </div>
        </fieldset>
        <div class="form-actions">
          <button type="submit" class="btn btn-block btn-danger">

            <div class="xlarge">Login</div>
          </button>
          <div class="forgot"><a class="forgot" href="#">Forgot Username or Password?</a></div>
        </div>
      </form>
    </div>
    <footer>

    </footer>
  </section>
</div>

</body>
</html>

