%body.background-dark
 .jumbotron
  .container-fluid
   %section.widget
    .row
     =image_tag ('pencil.png'), size:'256x256', :class => 'btn-transparent'
     =image_tag ('folder.png'), size:'256x256', :class => 'btn-transparent'
     =image_tag ('inbox.png'), size:'256x256', :class => 'btn-transparent'
